# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Python virtual environment
venv/
env/
**/__pycache__/
*.pyc
*.pyo

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Logs
logs/
*.log
